build/
.idea/
*-build/
*.user
build-unnamed-project-Desktop-Default/
build/
.idea/
*-build/
*.user
build-unnamed-project-Desktop-Release/
build-unnamed-project-Desktop-Debug/
doxygen/

# LaTeX
*.aux
*.log
*.pdf
*.bbl
*.blg
*.synctex.gz
*.dvi
